<!DOCTYPE HTML>
<html>
<head> 
    <title>Demo project for Spring Boot and https://docs.spacexdata.com/?version=latest</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Demo project for Spring Boot and https://docs.spacexdata.com/?version=latest</h2>
    <p><a href="/rocketsJson">Fetch Rockets from SpaceData</a></p>
    <p><a href="/rockets">List rockets in DB</a></p>
    <p><a href="/launches">List launches in DB</a></p>
    <p><a href="/stats">Fetching SpaceData statistics</a></p>
</body>
</html>